<div id="admin-edit-pg" class="admin-pg">
    <div class="page-title">
        <div class="title_left">
            <h3>个人密码变更 画面</h3>
        </div>
    </div>
    <div class="x_panel">
        <div class="x_title">
            <h4>个人密码变更 <small>修改个人密码</small></h4>
        </div>
        <div class="x_content">
            <form id="MyinfoChangepasswordForm" name="MyinfoChangepasswordForm" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="oldPassword">旧密码： <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" id="oldPassword" name="oldPassword" class="form-control col-md-7 col-xs-12" placeholder="请输入旧密码" maxlength="50" ng-model="vm.admin.oldPassword" validator="required, minlength=4" valid-method="submit">
                   		<input type="text" hidden="hidden" ng-model="vm.admin.adminId" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">新密码： <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" id="newPassword" name="password" class="form-control col-md-7 col-xs-12" placeholder="请输入不小于5位的密码" maxlength="50" ng-model="vm.admin.password" ng-focus="newPswdFocus()" ng-blur="newPswdBlur()"  ng-change="newPswdChange()" maxlength="16" onpaste="return false" oncopy="return false" oncut="return false;" placeholder="请输入新的密码" value="" autocomplete="new-password">
                    </div>
            </div>
            <div  class="form-group" ng-if="newPswdRank==0">
				<label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                    </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
				<img src="../images/pswd_strong.png">
				<img src="../images/pswd_strong.png">
				<img src="../images/pswd_strong.png">
				<span>强度</span>
				<span ng-class="{'low_txt':newPswdRank==1,'medium_txt':newPswdRank==2,'hight_txt':newPswdRank==3}">{{newPswdRankText}}</span>
			
                </div>
           </div>
			<div  class="form-group" ng-if="newPswdRank==1" >
				
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                    </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
				<img src="../images/pswd_low.png">
				<img src="../images/pswd_strong.png">
				<img src="../images/pswd_strong.png">
				<span>强度</span>
				<span ng-class="{'low_txt':newPswdRank==1,'medium_txt':newPswdRank==2,'hight_txt':newPswdRank==3}" style="color: red;">{{newPswdRankText}}</span>
			
                </div>
           </div>
			<div  class="form-group" ng-if="newPswdRank==2" >
				
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                    </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
				<img src="../images/pswd_low.png">
				<img src="../images/pswd_medium.png">
				<img src="../images/pswd_strong.png">
				<span>强度</span>
				<span ng-class="{'low_txt':newPswdRank==1,'medium_txt':newPswdRank==2,'hight_txt':newPswdRank==3}" style="color: orangered;">{{newPswdRankText}}</span>
			
                </div>
           </div>
			<div  class="form-group" ng-if="newPswdRank==3" >
				
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                    </label>
                <div class="col-md-6 col-sm-6 col-xs-12" >
				<img src="../images/pswd_low.png">
				<img src="../images/pswd_medium.png">
				<img src="../images/pswd_high.png">
				<span>强度</span>
				<span ng-class="{'low_txt':newPswdRank==1,'medium_txt':newPswdRank==2,'hight_txt':newPswdRank==3}" style="color: green;">{{newPswdRankText}}</span>
				</div>
			</div>
            <div class="row form-group" >
            	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">确认密码:<span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="password" id="newPassword" name="password" class="form-control col-md-7 col-xs-12" placeholder="请输入不小于5位的密码" maxlength="50" ng-model="confirmPswd" ng-focus="confirmPswdFocus()" ng-change="confirmPswdChange()" ng-blur="confirmPswdBlur()" autocomplete="new-password" maxlength="16" onpaste="return false" oncopy="return false" oncut="return false;" placeholder="请再次输入密码" value="">
                    </div>
				</div>
			<div class="form-group" >
            	<label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">
                    </label>
                    
					<div class="col-md-6 col-sm-6 col-xs-12" align="center">
						<ul align="left">
  						<li>5~16个字符</li>
  						<li>只能包含数字，字母和中杠线"-" 以及点号"."</li>
  						<li>数字，字母和中杠线"-" 以及点号"." 可以组合使用</li>
						</ul>
				
					</div>
			</div>	
			
                <div class="ln_solid"></div>
                <div class="form-group btn_action_group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-primary x_btn" ng-click="vm.changePassword()" validation-submit="MyinfoChangepasswordForm">确定</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
