<div id="admin-detail-pg">
	<div class="page-title">
		<div class="title_left">
			<h3 ng-bind="vm.isDeleteAction ? '关键词删除确认' : '关键词详情'"></h3>
		</div>
	</div>
	<div class="x_panel">
		<div class="x_title">
			<h4>关键词信息 <small>查看关键词的详细情报</small></h4>
		</div>
		<div class="x_content">
			<form id="admin-new-form" class="form-horizontal">
				<div class="form-group">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12" for="keyword">关键字：</label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 x_text" ng-bind="vm.model.keyword">
						<input type="text" name="oldKeyword" ng-model="vm.model.oldKeyword" hidden="hidden" />
						<input type="text" name="createUser" ng-model="vm.model.createUser" hidden="hidden" />
						<input type="text" name="createDate" ng-model="vm.model.createDate" hidden="hidden" />
						<input type="text" name="modifyDate" ng-model="vm.model.modifyDate" hidden="hidden" />
					</div>
				</div>
				
				<div class="form-group" ng-if="vm.model.type==1">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12" for="name">回复方式：</label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 x_text" ng-bind="vm.model.replyType | replyTypeText">
					</div>
				</div>
				
				<div class="form-group" ng-if="vm.model.replyType == 1">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12" for="replyContent">回复内容： 
                    </label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12" ng-bind="vm.model.replyContent">
					</div>
				</div>
				<div class="form-group" ng-if="vm.model.replyType == 2">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12" for="replyContent">回复内容： 
                    </label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12"  ng-bind="vm.model.replyContent" >
					</div>
				</div>
				<div class="form-group" ng-if="vm.model.replyType == 2">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12" for="title">图文标题： 
                    </label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12" ng-bind="vm.model.title">
					</div>
				</div>
				<div class="form-group" ng-if="vm.model.replyType==2">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12" for="image">图文图片： 
                    </label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<img class="img-responsive" style="width: 100px;" ng-src="{{vm.model.image}}">
					</div>
				</div>
				<div class="ln_solid"></div>
				<div class="form-group btn_action_group">
					<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
						<button type="button" class="btn btn-danger x_btn" ng-click="vm.save()" ng-if="vm.isDeleteAction">确认删除</button>
						<button type="button" class="btn btn-default x_btn" ng-click="vm.back()">返回</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>