welcome
<!--<div class="col-md-2 col-sm-3 col-xs-12 x_text">
	<label class="col-md-12 col-sm-12 col-xs-12" for="replyContent">图文图片： <span class="required">*</span>
    </label>
</div>-->
	<!--<div class=" text-center  rotateIn">
        <div>
            <h1 style="font-size:50px">
                <i class="fa fa-paw"></i> 九间堂微信管理系统
            </h1>
            
        </div>
    </div>-->
	<!--<div class=" col-md-6 col-sm-6 col-xs-12" align="center">
		<img  src="http://192.168.66.166:8080/csv/timg.jpg" style="background-color: #FCF8E3;">
	</div>-->
	