<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jjt.wechat.core.dao.WxTokenDao">

<select id="selectCommondityDescriptionByOpenId"  parameterType="String" resultType="String">
	SELECT ttd.description_url as commondityDescriptionUrl
	FROM t_user_weixin twu
	LEFT JOIN t_trade_description ttd ON  twu.prodid=ttd.prodid and twu.PRODGRNAME = ttd.PRODGRNAME
	WHERE twu.open_id = #{openId}
</select>

<update id="updateWebIdIsNull" parameterType="String">
	UPDATE t_user_weixin SET web_id = NULL WHERE open_id = #{openId}
</update>

</mapper>