<div id="luck-edit-popup-pg">
	<div class="page-title">
		<div class="title_left">
			<h3>&nbsp;&nbsp;图文一览</h3>
		</div> 
	</div>
	<div class="x_panel">
		<div class="x_title">
			<h4>选择图文 <small>检索到的图文列表</small></h4>
		</div>
		<div class="x_content">
			<div class="row">
				<div class="col-md-5">
						<div class="form-group">
							<label class="control-label col-md-3 col-xs-12" >图文标题:</label>
							<div class="col-md-9 col-xs-12">
								<input type="text" id="firTitle" name="title" class="form-control" style="width: 400px;" placeholder="请输入图文标题" maxlength="1000" ng-model="vm.searchCondition.firTitle"     >
							</div>
						</div>
				</div>
			</div>
			<div class="pull-right">
						<button type="button" class="btn btn-primary x_btn" ng-click="vm.mySearch()">
                        	<i class="fa fa-search" aria-hidden="true"></i>检索
                    	</button>

						<button type="button" class="btn btn-primary x_btn" ng-click="vm.myRest()">
                         	<i class="fa fa-undo" aria-hidden="true"></i>重置
                   		</button>
		</div>
		<div class="x_title">
		</div>
			<table ng-table="vm.tableParams" class="table table-bordered table-striped" >
				<tr ng-repeat="row in $data" >
					<input hidden="hidden" ng-bind="row.media_id"></input>
					<!--<td title="'次图文'" ng-bind="row.sonItemList">
                    	 
                   </td>-->
                    <td title="'图文标题'" ng-bind="row.firTitle">
                    	 
                    </td>
                    <td title="'图片'" width="40%" style="text-align: center;">
                    	<img style="border-radius:0%; overflow:hidden;width: 60px;height: 60px;" ng-src="{{row.firImage}}" ng-show="row.firImage">
                    </td>
                    <td title="'选择'" class="td-operation-200">
                    	<a class="btn btn-success x_btn" ng-click="vm.selected.content=row.content;vm.selected.sonItemList=row.sonItemList;vm.selected.media_id = row.media_id;vm.selected.firTitle=row.firTitle;vm.selected.firImage=row.firImage;choose(vm.selected)">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            	选择
                        </a>  
                    </td>
				</tr>
			</table>
		</div>
		<div class="text-left col-md-12 col-xs-12">
			<button type="button" class="btn btn-default x_btn" ng-click="vm.dismiss()">
				<i class="fa" aria-hidden="true">返回</i>
			</button>
		</div>
	</div>

</div>