<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.wechat.core.dao.UserAdminDao">

	<sql id="Base_Column_List">
		ADMIN_ID as adminId,
		name as name,
		ROLE_ID as roleId,
		mail as
		mail,
		PORTRAIT as portrait
	</sql>

	<select id="selectByUser" parameterType="com.xxx.wechat.core.dao.entity.AdminUser"
		resultType="com.xxx.wechat.core.dao.entity.AdminUser">
		SELECT tua.ADMIN_ID as adminId,tua.name as name,tr.ROLE_NAME as
		roleName,tr.ROLE_ID as roleId,mail as mail,DELETE_FLAG as
		deleteFlag,PORTRAIT as portrait
		FROM t_user_admin tua inner join t_role
		tr on tr.ROLE_ID = tua.ROLE_ID
		<where>
			tr.ROLE_ID !='0'
			<!-- <if test="name != null and name != ''"> t.create_date &gt;= ${startDate} 
				</if> <if test="endDate != null and endDate != 0"> <![CDATA[ and t.create_date 
				> ${endDate} ]]> </if> -->
			<if test="name != null and name != ''">
				and tua.name like CONCAT('%',#{name},'%' )
			</if>
			<if test="mail != null and mail != ''">
				and tua.mail like CONCAT('%',#{mail},'%' )
			</if>
			<if test="deleteFlag != null and deleteFlag != ''">
				and tua.DELETE_FLAG=#{deleteFlag}
			</if>
			<if test="roleId != null and roleId != ''">
				and tr.ROLE_ID =#{roleId}
			</if>
		</where>
		ORDER BY tua.modify_user DESC ,tua.ADMIN_ID
	</select>
	
	<select id="selectById" parameterType="String"
		resultType="com.xxx.wechat.core.dao.entity.AdminUser">
		SELECT tua.ADMIN_ID as adminId,tua.name as
		name,tr.ROLE_NAME as roleName,tr.ROLE_ID as roleId,mail as
		mail,DELETE_FLAG as deleteFlag,PORTRAIT as portrait,
		tua.CREATE_USER as
		createUser,tua.CREATE_DATE as createDate,
		tua.MODIFY_USER as
		modifyUser,tua.MODIFY_DATE as modifyDate
		FROM t_user_admin tua inner
		join t_role tr on tr.ROLE_ID = tua.ROLE_ID
		where
		tua.ADMIN_ID=#{adminId}

	</select>
</mapper>