<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.wechat.core.dao.LotteryDltHistoryDao">

	<resultMap id="resultMap"
		type="com.xxx.wechat.core.dao.entity.LotteryDltHistory">
		<id property="term" column="term" />
		<result property="drawNews" column="draw_news" />
		<result property="numSequence" column="num_sequence" />
		<result property="number" column="number" />
		<result property="redOne" column="red_one" />
		<result property="redTwo" column="red_two" />
		<result property="redThree" column="red_three" />
		<result property="redFour" column="red_four" />
		<result property="redFive" column="red_five" />
		<result property="blueOne" column="blue_one" />
		<result property="blueTwo" column="blue_two" />
		<result property="lotteryDate" column="lottery_date" />
		<result property="deleteFlag" column="delete_flag" />
		<result property="updateUser" column="update_user" />
		<result property="updateTime" column="update_time" />
	</resultMap>

	<select id="selectList" parameterType="com.xxx.wechat.core.dao.entity.LotteryDltHistory"
		resultMap="resultMap">
		SELECT term, draw_news, num_sequence, number, red_one, red_two,
		red_three, red_four, red_five, blue_one, blue_two, lottery_date,
		delete_flag, update_user, update_time FROM lottery_dlt_history
		WHERE
		<if test="term != null ">
		   AND <![CDATA[term == #{term}]]>
		</if>
		<if test="drawNews != null ">
		   AND <![CDATA[draw_news == #{drawNews}]]>
		</if>
		<if test="number != null ">
		   AND <![CDATA[number == #{number}]]>
		</if>
		<if test="numSequence != null ">
		   AND <![CDATA[num_sequence == #{numSequence}]]>
		</if>
		<if test="redOne != null ">
		   AND <![CDATA[red_one == #{redOne}]]>
		</if>
		<if test="redTwo != null ">
		   AND <![CDATA[red_two == #{redTwo}]]>
		</if>
		<if test="redThree != null ">
		   AND <![CDATA[red_three == #{redThree}]]>
		</if>
		<if test="redFour != null ">
		   AND <![CDATA[red_four == #{redFour}]]>
		</if>
		<if test="redFive != null ">
		   AND <![CDATA[red_five == #{redFive}]]>
		</if>
		<if test="blueOne != null ">
		   AND <![CDATA[blue_one == #{blueOne}]]>
		</if>
		<if test="blueTwo != null ">
		   AND <![CDATA[blue_two == #{blueTwo}]]>
		</if>
		<if test="lotteryDate != null ">
		   AND <![CDATA[lottery_date == #{lotteryDate}]]>
		</if>
		<if test="deleteFlag != null ">
		   AND <![CDATA[delete_flag == #{deleteFlag}]]>
		</if>
		<if test="updateUser != null ">
		   AND <![CDATA[update_user == #{updateUser}]]>
		</if>
		<if test="updateTime != null ">
		   AND <![CDATA[update_time == #{updateTime}]]>
		</if>
	</select>
	
	<select id="selectTermList" resultType="java.lang.String">
		SELECT term FROM lottery_dlt_history
		WHERE delete_flag = 0 ORDER BY term ASC
	</select>
	
	<select id="selectMaxTerm" resultType="java.lang.Integer">
		SELECT term FROM lottery_dlt_history
		WHERE delete_flag = 0 ORDER BY term DESC LIMIT 1
	</select>
	
	<select id="selectFieldAndFieldCountByField" resultType="com.xxx.wechat.core.dao.entity.extend.LotteryDltHistoryExt">
		SELECT #{fieldName} AS fieldName, ${fieldName} AS fieldValue, COUNT(${fieldName}) AS fieldCount FROM lottery_dlt_history WHERE delete_flag = 0 GROUP BY ${fieldName} ORDER BY COUNT(${fieldName});
	</select>

</mapper>