<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xxx.wechat.core.dao.LotteryDltHistoryDetailDao">

	<resultMap id="resultMap"
		type="com.xxx.wechat.core.dao.entity.LotteryDltHistoryDetail">
		<id property="id" column="id" />
		<result property="lotteryTerm" column="lottery_term" />
		<result property="allmoney" column="allmoney" />
		<result property="level" column="level" />
		<result property="money" column="money" />
		<result property="num" column="num" />
		<result property="piece" column="piece" />
		<result property="sendPrize" column="send_prize" />
		<result property="deleteFlag" column="delete_flag" />
	</resultMap>

	<!-- 批量插入 -->
	<insert id="insertLotteryDltHistoryDetailList">
		INSERT INTO lottery_dlt_history_detail
		(
			lottery_term, allmoney, level, money, num, piece, send_prize, delete_flag
		) VALUES
		<foreach collection ="list" item="item" index= "index" separator =",">
			(
				#{item.lotteryTerm}, #{item.allmoney}, #{item.level}, #{item.money}, #{item.num}, #{item.piece}, #{item.sendPrize}, #{item.deleteFlag}
			)
		</foreach>
	</insert>

</mapper>