<div id="role-detail-pg" class="role_pg">
	<div class="page-title">
		<div class="title_left">
			<h3 ng-bind="vm.isDeleteAction ? '角色删除确认' : '角色详情'"></h3>
		</div>
	</div>
	<div class="x_panel">
		<div class="x_title">
			<h4>角色信息 <small>查看角色的详细情报</small></h4>
		</div>
		<div class="x_content">
			<form id="role-new-form" class="form-horizontal">
				<div class="form-group">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12">角色ID：</label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 x_text" ng-bind="vm.model.roleId"></div>
				</div>
				<div class="form-group">
					<div class="col-md-2 col-sm-3 col-xs-12 x_text">
						<label class="col-md-12 col-sm-12 col-xs-12">角色名：</label>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12 x_text" ng-bind="vm.model.roleName">
					</div>
				</div>

			</form>
			
		</div>
		<div class="ln_solid"></div>
		<div class="form-group btn_action_group">
			<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-5">
				<button type="button" class="btn btn-danger x_btn" ng-click="vm.save()" ng-if="vm.isDeleteAction">确认删除</button>
				<button type="button" class="btn btn-default x_btn" ng-click="vm.back()">返回</button>
			</div>
		</div>
	</div>
</div>